@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    background-color: #333;
    height: 100vh;
}

.clock {
    display: grid;    
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;

}

.box {
    border-radius: 3px;
    padding: 20px;
}

.neither {
    background-color: grey;
}

.hour {
background-color: tomato;
}

.minute {
background-color:lightgreen;
}

.both {
background-color: slateblue;
}

#square-1a {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#square-1b {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#square-2 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#square-3 {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
}

#square-5 {
    grid-column: 4 / 9;
    grid-row: 1/ 6;    
}

@keyframes element-pulse {
    0% {
        box-shadow: 0 0 0 0px rgb(248, 248, 248);
   }
   100% {
        box-shadow: 0 0 0 35px rgba(252, 250, 250, 0);
   }
}

@media only screen and (max-width: 600px) {
    .clock {
        display: grid;    
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: repeat(8, 50px);
        grid-gap: 5px;    
    }

    #square-1a {
        grid-column: 5 / 6;
        grid-row: 3 / 4;
    }
    
    #square-1b {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
    
    #square-2 {
        grid-column: 4 / 6;
        grid-row: 1 / 3;
    }
    
    #square-3 {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }
    
    #square-5 {
        grid-column: 1 / 6;
        grid-row: 4 / 9;    
    }
}